<p style="color: green"><%= notice %></p>

<%= render @test0234 %>

<div>
  <%= link_to "Edit this test0234", edit_test0234_path(@test0234) %> |
  <%= link_to "Back to test0234s", test0234s_path %>

  <%= button_to "Destroy this test0234", @test0234, method: :delete %>
</div>
